
<html>
<head>
<title>Editar Insumos</title>
</head>
<body>

<h1>Insumos Disponibles</h1>
<table class="table table-striped table-hover table-condensed" >
 <tr>
  <td><p><i><b>Insumo</b></i></td>
  <td><p><i><b>Precio</b></i></td>
  <td><p><i><b>Unidad</b></i></td>
  <td><p><i><b> </b></i></td>
 </tr>

 <% @insumos.each do |a| %>
  <tr>
   <td><%=a.nombre%></td>
 <td><%= a.precio%></td>
 <td><%=a.medida.nombre%></td>
 <td><%= button_to "Eliminar", a, method: :delete %></td>
  </tr>
 <% end %>
</table>

<p><button type="button"  onClick="location.href='insumos/new'" />Ingresar nuevo insumo</button></p>

</body>
</html>