<h1>Ha ingresado un nuevo insumo</h1>
<div>
<table class="table table-striped table-hover" >
 <tr>
  <td><p><i><b>Nombre</b></i></td>
  <td><p><i><b>Precio</b></i></td>
  <td><p><i><b>Unidadde medida</b></i></td>
</tr>
<td><%=@insumo.nombre %></td>
<td><%= @insumo.precio%></td>
<td><%= @insumo.medida.nombre%></td>
</div>
</table>
<P>
	
</P>
 <input type="button" value="Agregar otro insumo" onClick="history.back()" />