<%"contar todos los elementos del pedido"%>
<% items = Item.where(pedido_id: [@pedido.id])%>
<% items.each do |a|%>
	<% hojas = Hoja.where(producto_id: [a.producto_id])%>
	<% hojas.each do |b|%>
		<% formulas = Formula.all%>
		<% if Formula.find_by(insumo_id: b.insumo_id)%>
			<% formulas.each do |c|%>
				<%if c.insumo_id == b.insumo_id %>
					<% d=0.0 %>
					<%d = b.porcion*a.cantidad + c.porcion%>
					<%Formula.update(c.id, :porcion => d)%>
				<%end%>
			<%end%>
		<%else%>
			<% Formula.create(porcion: b.porcion*a.cantidad, insumo_id: b.insumo_id)%>			
		<%end%>
	<%end%>
<%end%>

<%"descontar elementos a usar"%>

<% formulas = Formula.all%>
<%formulas.each do |a|%>
	<%elementos = Elemento.all.order('vencimiento desc')%>
	<%n = a.porcion%>
	<% elementos.each  do |b|%>
		<%if b.insumo_id==a.insumo_id%>
			<%if n > 0.00 %>
				<%if b.cantidad > n%>
					<%e = Elemento.find_by(id: b.id)%>
					<%en = e.cantidad%>
					<% en = en - n%>
					<%Elemento.update(b.id, :cantidad => en)%>
					<%n=0%>
				<%else%>
					<%e = Elemento.find_by(id: b.id)%>
					<%en = e.cantidad%>
					<% n = n - en%>
					<%e.delete%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
<%end%>



<h2>Pedido ingresado exitosamente<%=%></h2>
<h3>Se han descontado los siguientes insumos del inventario:</h3>
<%Pedido.update(@pedido.id, :estado => 1)%>
<div class="container">
	<div class="col-md-3 col-md-offset-2">
	    <table class="table table-striped table-hover table-condensed   " >
	        <thead>
	            <tr>
	              <th><div class="size-165">Insumo</div></th>
	              <th><div class="size-165">Cantidad descontada</div></th>
		  		</tr>
		  	</thead>
			<% formu = Formula.all%>
			<% formu.each do |a|%>
				<tr>
					<% n = Insumo.find_by(id: a.insumo_id)%>
			  		<td><%=n.nombre%></td>
			   		<td><%= a.porcion%></td>
		  		</tr>
				<%a.delete%>
		 	<% end %>
		</table>
	</div>
</div>
<u class="be-re"> <%= link_to "REGRESAR A PEDIDOS", :action => "index" %></u>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
