<%"comprobar estado pedido"%>

<%"estado pendiente"%>
<%if !@pedido.estado.blank? and @pedido.estado==1%>
	
	<%"entregar pedido"%>
	<%Pedido.update(@pedido.id, :estado => 2)%>
	<h1>Pedido a nombre de <%=@pedido.cliente%> ha sido entregado</h1>

<%"pedido nuevo"%>
<%elsif @pedido.estado.blank?%>

<%"comprobar tiene productos"%>
	<%if !Item.find_by pedido_id: @pedido.id%>

	<%"no tiene productos"%>
	<h1>Pedido sin productos. Para continuar por favor ingrese algun producto</h1>
	<input type="button" value="VOLVER" onClick="history.back()" />

	<%"tiene productos"%>
	<%else%>

		<%"setear precio"%>
		<% precio=0 %>
		<% items = Item.where(pedido_id: [@pedido.id])%>
   		<% items.each do |b| %>
   			<% precio = precio + Producto.where(id: [b.producto_id]).sum("precio")*b.cantidad%>
   		<%end%>
   		<%Pedido.update(@pedido.id, :precio => precio)%>

		<%= render :partial => "comprobar_elementos.html" %>
	<%end%>

<%"Pedido en espera"%>
<%elsif !@pedido.estado.blank? and @pedido.estado==0%>
	<%= render :partial => "comprobar_elementos.html" %>
<%end%>
			
			