<html>
  <head>
    <title>Pedidos</title>
  </head>
  <body>
    <center>
    </br>
    </br>
    <p><input type="button" value="Ingresar nuevo pedido" onClick="location.href='pedidos/new'" />
    </br>
    
    <p><input type="button" value="   Pedidos pendientes   " onClick="location.href='pedidos/pendientes'" />
    </br>
    
    <p><input type="button" value="    Pedidos en espera    " onClick="location.href='pedidos/espera'" />
    </br>
    
    <p><input type="button" value="   Historial entregados   " onClick="location.href='pedidos/entregados'" />
    </br>
    </center>

  </body>


</html>
