<html>
<head>
<title>Agregar insumos </title>
</head>
<body>

<h1>Insumos en inventario</h1>
<table border="5">
 <tr>
  <td width="40%"><p align="center"><i><b>Insumo</b></i></td>
  <td width="20%"><p align="center"><i><b>Disponible</b></i></td>
  <td width="20%"><p align="center"><i><b>Unidad</b></i></td>
 </tr>

 <% @insumos.each do |a| %>
  <tr>
   <td><%=a.nombre%></td>
 <td><%= Elemento.where(insumo_id: [a.id]).sum("cantidad")%></td>
 <td><%=a.medida.nombre%></td>
  </tr>
 <% end %>
</table>
<p><input type="button" value="Agregar insumos al inventario" onClick="location.href='elementos/new'" /></p>

</body>
</html>

