<html>
<head>
<title>Agregar insumos </title>
</head>
<body>
	<h1>Insumos en inventario</h1>
	    <div class="container">
	      <div class="col-md-3 col-md-offset-2">
	        <table class="table table-striped table-hover table-condensed   " >
	          <thead>
	            <tr>
	              <th><div class="size-220">Insumo</div></th>
	              <th><div class="size-220">Disponible</div></th>
	              <th><div class="size-220">Unidad</div></th>
	            </tr>                  
	          </thead>
	          <% @insumos.each do |a| %>
	            <tr>
	              <td><%=a.nombre%></td>
	              <td><%=Elemento.where(insumo_id: [a.id]).sum("cantidad")%></td>
	              <td><%=a.medida.nombre%></td>
	            </tr>
	          <% end %>
	        </table>  
	      </div>
	    </div>
	    

	    <%=will_paginate @insumos%>
		<p><input type="button" value="Agregar insumos al inventario" onClick="location.href='elementos/new'" /></p>

</body>
</html>

