<h1>Se han agregado</h1>
<div>
<%= @elemento.cantidad %> <%= @elemento.insumo.medida.nombre%> de <%= @elemento.insumo.nombre%> que vencen en <%= @elemento.vencimiento%>
</div>
<p></p>
<input type="button" value="Agregar otro insumo al inventario" onClick="history.back()" />