<html>
<head>
<title>Recetas </title>
</head>
<body>

<h1>Productos disponibles</h1>
<table class="table table-striped table-hover table-condensed" >
 <tr>
  <td><p><i><b>Recetas</b></i></td>
  <td><p><i><b>Precio</b></i></td>
  <td><p><i><b> </b></i></td>
  <td><p><i><b> </b></i></td>
 </tr>

 <% @productos.each do |a| %>
  <tr>
   <td><%=a.nombre%></td>
   <td><%=a.precio%></td>
   <td><input type="button" value="Editar receta" onClick="location.href='productos/<%=a.id%>'" /></td>
   <td><%= button_to 'Eliminar', a, method: :delete%></td>	
  </tr>
 <% end %>
</table>
<p>
	
</p>
<input type="button" value="Producto Nuevo" onClick="location.href='productos/new'" />
</body>
</html>

