
<table class="table table-striped table-hover " >
 <tr>
  <td><p<i><b>Unidades de medidas disponibles</b></i></td>
  
   </tr>

<% @medidas.each do |a| %>
  <tr>
 <td><%=a.nombre%></td>
  </tr>
 <% end %>
</table>

<p><input type="button" value="Ingresar nueva unidad de medida" onClick="location.href='medidas/new'" />