<%= form_for(@medida) do |f| %>
<h1>Agregar nueva unidad demedida</h1>
<% @medida.errors.full_messages.each do |message|%>
	<div class="be-re"><%=message%></div>
<%end%>
<div class="field">
	<%= f.text_field :nombre, placeholder: "Nombre" %>
</div>
	<%= f.submit "Guardar" %>
</div>
<%end%>