	html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

a,a:visited{
	color: inherit !important;
	text-decoration: none;
}

.be-red{
	background-color: #4FFFC6;
}

.white{
color: #913D9F;
}

.large-padding{
	padding: 13px 8px;
}

