 

	html,body{
	margin: 8px;
	font-family: 'Open Sans', sans-serif;
	
	
}

#rt-footer {
background: none repeat scroll 0% 0% rgb(0, 0, 90);
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}


.be-red{
	background-color: #4FFFC6;
}
.be-alred{
	background-color: #913D9F;
}
.be-tittle{
	background-color: #2B2D74;
	color: #4FFFC6;
}
.be-fond{
	background-color: #4FFFC6;
	color: #913D9F;
}
.be-alterfond{
	background-color:#913D9F ;
	color: #4FFFC6;
}

.letter-red{
	color: #EC351E;
}
.white{
color: #913D9F;
}
.be-re{
	color:#DF0101;
}
.be-alert{
	color:#F7FE2E;
	background-color:#DF0101;

}

.large-padding{
	padding: 15px 5px;
}

.size-330{
  width: 330px;
}

.size-165{
  width: 165px;
}
.size-100{
  width: 100px;
}
	
.size-220{
  width: 220px;
}

.size-200{
  width: 200px;
}
.ancho-columna{
    width: 19%;
}

